<ul>
  <li>id: <%= @member['id'] %></li>
  <li>name: <%= @member['name'] %></li>
  <li>age: <%= @member['age'] %></li>
  <li>created_at: <%= @member['created_at'] %></li>
  <li>updated_at: <%= @member['updated_at'] %></li>
</ul>

<%= link_to 'Back', members_path %>
